# Expose Astro dependencies for `pnpm` users
shamefully-hoist=true
# Authentification for GSAP Club Plugins
# https://gsap.com/docs/v3/Installation/?tab=npm&module=esm&method=private+registry&tier=free&club=true&require=false&trial=true
always-auth=true
//npm.greensock.com/:_authToken=${GSAP_TOKEN}
@gsap:registry=https://npm.greensock.com