---
import { defineInk } from '@/utils/ink'
import { config } from './Button.ink'

export type Theme = 'DEFAULT'

export type Variant = 'DEFAULT'

export type Size = 'DEFAULT'

export type Props = {
  as?: string
  class?: string
  label?: string
  variant?: Variant
  color?: Theme
  size?: Size
}

let {
  as: Component = 'a',
  class: className,
  preset,
  label,
  ...props
} = Astro.props

if (Component === 'button' && props.type === undefined) {
  props.type = 'button'
}

const inkProps = {
  variant: Astro.props?.variant,
  color: Astro.props?.color,
  size: Astro.props?.size,
}
const { ink, inkProp } = defineInk({
  config,
  ...inkProps,
})
---

<Component class={ink('root')} {...props}>
  <span class={ink('body', 'inline-block z-10 pointer-events-none')}>
    <slot>{label}</slot>
  </span>
</Component>
