---
import clsx from 'clsx'
import Icon from './Icon.astro'

const { class: className, ...props } = Astro.props
---

<button
  type="button"
  class={clsx('relative h-12 w-11', className)}
  {...props}
  x-data
  x-on:click.prevent.stop="() => $store.sound.toggleMuted()"
>
  <Icon
    name="mute"
    class="absolute left-0 top-3.5 w-11"
    x-show="! $store.sound.muted"
  />
  <Icon
    name="unmute"
    class="absolute left-0 top-3.5 w-11"
    x-show="$store.sound.muted"
  />
</button>
