---
import Logo from './Logo.astro'
---

<header class="text-white__ mix-blend-difference__ fixed left-0 top-0 z-header">
  <a href="/" class="absolute left-4 top-3 block">
    <Logo class="block w-[6.375rem]" />
  </a>
</header>
