---
import EntryLayout from '@/layouts/EntryLayout.astro'
import type { PageStoryblok } from '@/types/storyblok'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import { componentIsHTMLElement } from 'astro/runtime/server/render/dom.js'
import type { StoryblokStory } from 'storyblok-generate-ts'

export type Props = {
  site: Object
  story: StoryblokStory<PageStoryblok>
  blok: PageStoryblok
}

const { site, story, blok } = Astro.props

const sections = blok.body

console.log(sections)
---

<EntryLayout site={site} story={story}>
  <main>
    {
      sections?.map((section) => (
        <StoryblokComponent blok={section} story={story} />
      ))
    }
  </main>
</EntryLayout>
