---
import Section from '@/components/sections/Section.astro'
import type { HeadlineStoryblok } from '@/types/storyblok'
import clsx from 'clsx'

export type Props = {
  class?: string
  blok: HeadlineStoryblok
  textSize: undefined | 'large' | 'display'
  headingOrder: undefined | 1 | 2 | 3 | 4 | 5 | 6
}

const {
  class: className,
  blok,
  headingOrder = 2,
  textSize = 'display',
  ...props
} = Astro.props

const textSizes = {
  'large': 'text-32 lg:text-35 font-sans font-bold tracking-wide uppercase',
  'display': 'text-40 lg:text-45 font-sans font-bold tracking-wide uppercase',
}
const textSizeClass = textSizes[blok.textSize ?? 'large'] ?? textSizes['large']
---

<Section
  as={`h${headingOrder}`}
  class={clsx('relative max-w-heading px-page-mx', textSizeClass, className)}
  blok={blok}
  spacing="paragraph"
  {...props}
>
  {blok.text}
</Section>
