---
import Section from '@/components/sections/Section.astro'
import type { HeroSlideStoryblok, ProjectStoryblok } from '@/types/storyblok'
import clsx from 'clsx'
import HeroSlide from '../blocks/HeroSlide.astro'
import CircularProgress from '../shared/CircularProgress.astro'
import MuteButton from '../shared/MuteButton.astro'
import HeroSlideNext from '../blocks/HeroSlideNext.astro'

export type Props = {
  class?: string
  slides: HeroSlideStoryblok[]
  as?: string
  nextStory?: ProjectStoryblok
}

const { class: className, slides = [], nextStory, ...props } = Astro.props

const nextStorySlide = nextStory?.content?.heroSlides?.[0]
const nextProjectBlok = nextStorySlide
  ? {
      ...nextStorySlide,
      title: nextStory?.content?.title,
      subtitle: nextStory?.content?.subtitle,
      link: nextStory.full_slug ? `/${nextStory.full_slug}` : undefined,
    }
  : undefined
---

<Section
  as="section"
  class={clsx('x-hero relative h-svh', className)}
  {...props}
  x-data="hero"
  aria-label="Project gallery"
>
  <div class="x-hero-inner will-change-transform">
    {
      slides.length > 0 && (
        <div x-ref="carousel" class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              {slides.map((slide, index) => (
                <HeroSlide
                  as="li"
                  blok={slide}
                  class="splide__slide h-svh w-svw"
                  animateText={index === 0}
                />
              ))}
              {nextProjectBlok && (
                <HeroSlideNext
                  as="li"
                  class="splide__slide h-svh w-svw"
                  blok={nextProjectBlok}
                />
              )}
            </ul>
          </div>
          <div class="absolute bottom-5 left-page-mx right-page-mx z-project-controls flex animate-project-controls-in items-center justify-between">
            <div class="flex-none">
              <slot name="infoButton" />
            </div>
            <div class="ml-auto flex flex-none items-center gap-x-2">
              <MuteButton class="mr-8 text-white" />
              <div class="whitespace-nowrap font-narrow text-18 leading-none tracking-wide text-white lg:text-20">
                <span x-text="index" />/<span x-text="total" />
              </div>
              <button class="splide__toggle" type="button">
                <CircularProgress />
              </button>
            </div>
          </div>
        </div>
      )
    }
  </div>
</Section>
