---
import Section from '@/components/sections/Section.astro'
import type { VideoPlayerResponsiveStoryblok } from '@/types/storyblok'
import clsx from 'clsx'

export type Props = {
  class?: string
  blok: VideoPlayerResponsiveStoryblok
  index?: number
}

const { class: className, blok, index = -1, ...props } = Astro.props

const aspectRatioConfigs = {
  '16:7': {
    className: 'relative w-full aspect-9/16 wide:aspect-16/7',
  },
  '16:9': {
    className: 'relative w-full aspect-9/16 wide:aspect-16/9',
  },
  'fullscreen': {
    className: 'relative w-screen h-screen',
  },
}

const aspectRatioConfig =
  aspectRatioConfigs[blok.aspectRatio ?? '16:7'] ?? aspectRatioConfigs['16:7']
---

<Section
  class={clsx('relative overflow-hidden bg-black', className)}
  blok={blok}
  defaultSpacing={index === 0 ? 'none' : 'md'}
  x-data={`videoPlayer({ showControls: ${blok.showControls}, hlsLandscape: '${blok.hlsLandscape}', hlsPortrait: '${blok.hlsPortrait}' })`}
  {...props}
>
  <video
    x-ref="player"
    class={clsx('object-cover', aspectRatioConfig.className)}></video>
</Section>
