---
import type { RichTextButtonStoryblok } from '@/types/storyblok'
import Button from '../shared/Button.astro'
import { applyLinkAttrs } from '@/utils/link'
import HtmlHeading from '../shared/HtmlHeading.astro'
import clsx from 'clsx'

export type Props = {
  class?: string
  headingOrder: string | number
  content?: object
}

const { class: className, headingOrder, content } = Astro.props
---

<HtmlHeading
  order={headingOrder}
  class={clsx(
    '[&:not(:first-child)]:mt-15 font-sans text-18 font-normal uppercase leading-none lg:text-20',
    className,
  )}
>
  <span class="inline-block rounded-[0.6em] bg-black px-2 py-0.5 text-white">
    <slot>
      {content?.[0]?.text}
    </slot>
  </span>
</HtmlHeading>
