---
import ProjectThumbnailsComponent from '@/components/sections/ProjectThumbnails.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
  <div class="relative h-svh">
    <ProjectThumbnailsComponent />
  </div>
</BaseLayout>
